<StackLayout margin="24" horizontalAlignment="center" verticalAlignment="center">
        <StackLayout  orientation="horizontal">
                <Label class="h3 readOnlyLabel" text="MR Expiry for:"></Label> <Label class="h1" [text]="aircraft.rego"></Label>
        </StackLayout>
        <StackLayout class="hr-light"></StackLayout>
        <StackLayout  orientation="vertical">
                <Label text="Expiry Hours" class="readOnlyLabel"></Label>
                <TextField class="input input-border" hint="" [(ngModel)]="aircraft.hrsAtMaint" keyboardType="number"></TextField>
                <Label  text="Expiry Date" class="readOnlyLabel"></Label>
                <DatePicker  class="block" (loaded)="datePickLoad($event)" (dateChange)="datePickSet($event)" verticalAlignment="center"></DatePicker>
        </StackLayout>
        <StackLayout orientation="horizontal" marginTop="12">
            <Button text="save" (tap)="save()"></Button>
            <Button text="cancel" (tap)="cancel()"></Button>
        </StackLayout>
</StackLayout>
