<RadSideDrawer #x>
<ActionBar title="MaintRel App" >
        <NavigationButton icon="res://icon" (tap)="toggle()"></NavigationButton>
</ActionBar>
<StackLayout tkDrawerContent class="sideStackLayout">
        <StackLayout class="sideStackLayout">
            <StackLayout orientation="horizontal" class="input-field input-sides">
                        <Label class="sideLabel" text="Alphabetic" textWrap="true"></Label>
                        <Switch class="m-15" checked="true" (checkedChange)="toggleOrder($event)"></Switch>
                        <Label class="sideLabel" text="Type" textWrap="true"></Label>
            </StackLayout>
            <StackLayout class="hr-light m-10"></StackLayout>
            <StackLayout class="sideTitleStackLayout">
                <Label text="Show By" class="h1 sideLabelHeading"></Label>
            </StackLayout>
            <Label text="Days/Hours Left" class="h2 sideLabel" [nsRouterLink]="['/reportByHour']"></Label>
            <Label text="Estimated Expiry" class="h2 sideLabel" [nsRouterLink]="['/reportByEstimate']"></Label>
            <StackLayout class="hr-light m-10"></StackLayout>
            <StackLayout class="sideTitleStackLayout">
                <Label text="Actions" class="h1 sideLabelHeading"></Label>
            </StackLayout>
            <Label text="Send Notification" class="h2 sideLabel" (tap)="appComponent.notifySomeone('hello')"></Label>
            <Label text="Add New Aircraft" class="h2 sideLabel" (tap)="addAircraft()"></Label>
            <StackLayout class="hr-light m-10"></StackLayout>
        </StackLayout>
</StackLayout>

<GridLayout class="page backgroundImageCitabria" tkMainContent>
    <GridView [items]="fleet" colWidth="30%" rowHeight="100">
    <ng-template let-item="item" let-odd="odd">
      <StackLayout  [nsRouterLink]="['/aircraftDetails', item._id]" 
                        margin="10" borderColor="blue" borderWidth="2" borderRadius="5" verticalAlignment="stretch"
                         class="list-group-item opaque" [class.odd]="odd">
        <Label verticalAlignment="center" [text]="item.rego" class="h2" textWrap="true"></Label>
        <WrapLayout columns="2" rows="4">
                <Label verticalAlignment="center" [text]="'type: '" class="font-weight-bold" textWrap="true"></Label>
                <Label verticalAlignment="center" [text]="item.type" class="list-group-item-text" textWrap="true"></Label>
        </WrapLayout>
        <WrapLayout columns="2" rows="4">
                <Label verticalAlignment="center" [text]="'hrs left: '" class="font-weight-bold" textWrap="true"></Label>
                <Label verticalAlignment="center" [text]="getHrsLeft(item)" class="list-group-item-text" textWrap="true"></Label>
        </WrapLayout>
        <WrapLayout columns="2" rows="4">
                <Label verticalAlignment="center" [text]="'days left: '" class="font-weight-bold" textWrap="true"></Label>
                <Label verticalAlignment="center" [text]="getDaysLeft(item)" class="list-group-item-text" textWrap="true"></Label>
        </WrapLayout>
        <!--<WrapLayout columns="2" rows="4">
                <Label verticalAlignment="center" [text]="'TTIS: '" class="font-weight-bold" textWrap="true"></Label>
                <Label verticalAlignment="center" [text]="getTtis(item)" class="list-group-item-text" textWrap="true"></Label>
        </WrapLayout>-->
      </StackLayout>
    </ng-template>
  </GridView>
                <!--<Button class="btn btn-primary w-full" width="100" height="100"  text="Add Aircraft" (tap)="addAircraft()"></Button>-->
</GridLayout>
</RadSideDrawer>
