<RadSideDrawer #x>
<ActionBar title="MaintRel App" >
        <NavigationButton icon="res://icon" (tap)="toggle()"></NavigationButton>
</ActionBar>
<StackLayout tkDrawerContent class="sideStackLayout">
        <StackLayout class="sideStackLayout">
            <StackLayout class="sideTitleStackLayout">
                <Label text="Order" class="h2 sideLabelHeading"></Label>
            </StackLayout>
            <StackLayout orientation="horizontal" class="input-field input-sides">
                        <Label class="sideLabel" text="Type" textWrap="true"></Label>
                        <Switch class="m-15" checked="true" (checkedChange)="toggleOrder($event)"></Switch>
                        <Label class="sideLabel" text="Alphabetic" textWrap="true"></Label>
            </StackLayout>
            <StackLayout class="hr-light m-10"></StackLayout>
            <StackLayout class="sideTitleStackLayout">
                <Label text="Report" class="h2 sideLabelHeading"></Label>
            </StackLayout>
            <Label text="Days/Hours Left" class="h2 sideLabel"  [nsRouterLink]="['/reportByHour']"></Label>
            <Label text="Estimated Expiry" class="h2 sideLabel" [nsRouterLink]="['/reportByEstimate']"></Label>
            <StackLayout class="hr-light m-10"></StackLayout>
            <StackLayout class="sideTitleStackLayout">
                <Label text="Actions" class="h2 sideLabelHeading"></Label>
            </StackLayout>
            <Label text="Send Notification" class="h2 sideLabel" (tap)="appComponent.notifySomeone('hello')"></Label>
            <Label text="Add New Aircraft" class="h2 sideLabel" (tap)="addAircraft()" *ngIf="can('CAN_ADD_AIRCRAFT')"></Label>
            <StackLayout class="sideTitleStackLayout">
                <Label text="Users" class="h2 sideLabelHeading"></Label>
            </StackLayout>
            <Label text="Log Out" class="h2 sideLabel" (tap)="logOut()"></Label>
            <Label text="Add User" class="h2 sideLabel" (tap)="addUser()" *ngIf="can('CAN_ADD_USER')"></Label>
            <Label text="User Settings" class="h2 sideLabel" (tap)="userSettings()" *ngIf="can('CAN_CHANGE_PW')"></Label>
            <StackLayout class="hr-light m-10"></StackLayout>
        </StackLayout>
</StackLayout>

<GridLayout class="page backgroundImageCitabria" tkMainContent>
    <GridView [items]="fleet" colWidth="30%" rowHeight="100">
    <ng-template let-item="item" let-odd="odd">
      <StackLayout  [nsRouterLink]="['/aircraftDetails', item._id]" 
                        margin="10" borderColor="blue" borderWidth="2" borderRadius="5" verticalAlignment="stretch"
                         class="list-group-item opaque" [class.odd]="odd">
        <GridLayout columns="*,*,*,*" rows="*,*,*,*,*">
                <Label col="0" row="0" rowspan="2" verticalAlignment="center" [text]="item.rego" class="h2 pull-left" textWrap="true"></Label>
                <Label col="2" colspan="2" row="0" rowspan="5" verticalAlignment="center"
                        [ngClass]="{ notify : acStatus[item.rego] }"                        
                         [text]="acStatusDetails[item.rego]" textWrap="true"></Label>
                <Label col="0" row="2" verticalAlignment="center" [text]="'type: '" class="font-weight-bold" textWrap="true"></Label>
                <Label col="1" row="2" verticalAlignment="center" [text]="item.type" class="list-group-item-text" textWrap="true"></Label>
                <Label col="0" row="3" verticalAlignment="center" [text]="'hrs left: '" class="font-weight-bold" textWrap="true"></Label>
                <Label col="1" row="3" verticalAlignment="center" [text]="getHrsLeft(item)" class="list-group-item-text" textWrap="true"></Label>
                <Label col="0" row="4" verticalAlignment="center" [text]="'days left: '" class="font-weight-bold" textWrap="true"></Label>
                <Label col="1" row="4" verticalAlignment="center" [text]="getDaysLeft(item)" class="list-group-item-text" textWrap="true"></Label>
        </GridLayout>
      </StackLayout>
    </ng-template>
  </GridView>
  <ActivityIndicator [busy]="activity"></ActivityIndicator>
</GridLayout>
</RadSideDrawer>
