/*NavigationButton {
        border-width: 10;
        border-color: red;
}

.sideStackLayout {
        border-color: gray;
        border-width: 2px;
        background-color: '#7f7f7f';
}

.sideLabelHeading {
        color:white;
        padding: 10px;
}

.sideLabel {
        color:lightgray;
        padding: 10px;
        horizontal-align: center;
}

.opaque {
        background-color: red;
        opacity: 1.0;
}

.backgroundImageCitabria{
    background-image: url("res://citabria");
    background-repeat: repeat;
}*/
