<StackLayout margin="24" horizontalAlignment="center" verticalAlignment="center">
        <StackLayout  orientation="horizontal">
                <Label class="h3" text="Add Engine O/H Time for:"></Label> <Label class="h1" [text]="aircraft.rego"></Label>
        </StackLayout>
        <StackLayout *ngFor="let engineHrs of aircraft.engineHrsAtMaint; let num=index"  orientation="vertical">
                <Label [text]="'Engine #' + num + 'Hours When O/H Due'" class="label font-weight-bold m-b-5"></Label>
                <TextField class="input input-border" [(ngModel)]="aircraft.engineHrsAtMaint[num]"></TextField>
        </StackLayout>
        <StackLayout orientation="horizontal" marginTop="12">
            <Button text="save" (tap)="save()"></Button>
            <Button text="cancel" (tap)="cancel()"></Button>
        </StackLayout>
</StackLayout>

