.grey-background {
        background-color: #cccccc;
}

.form {
        background-color: snow
}

.block {
        border-color: gray;
        border-width: 1px;
        vertical-align: center;
}
.readOnlyLabel {
        color: red;
        padding-left: 10;
        padding-right: 10;
}

.cleared {
        color: gray;
        text-decoration: line-through;
}

.warn, .alert {
	border-width: 3;
	border-color: black;
}

.active {
        color: black;
}

.alert {
	padding: 5;
	color: black;
	background-color: red;
}

.warn {
	padding: 5;
	color: black;
	background-color: orange;
}
