<GridLayout class="grey-background">
    <ScrollView>
        <StackLayout class="form" verticalAlignment="center">
            <StackLayout class="hr-light m-10"></StackLayout>
                <StackLayout orientation="horizontal" horizontalAlignment="center">
                        <StackLayout orientation="vertical">
                                <Label class="h1" [text]="aircraft.rego"></Label>
                                <Label class="" [text]="aircraft.type"></Label>
                        </StackLayout>
                        <StackLayout orientation="vertical">
                                <Label text="Maint Clock Time" class="readOnlyLabel"></Label>
                                <TextField class="h1" (blur)="adjustClockTime($event)" returnKeyType="done" (returnPress)="adjustClockTime($event)" keyboardType="number" [text]="aircraft.clockTime" editable="{{can('CAN_CHANGE_HOURS')}}"></TextField>
                        </StackLayout>
                        <Button width="100" height="80" class="btn btn-primary" text="Save Changes" (tap)="save(aircraft)" *ngIf="can('CAN_CHANGE_HOURS')"></Button>
                        <Button width="100" height="80" class="btn btn-success block" text="Close"  [nsRouterLink]="['/fleet']"></Button>
                </StackLayout>
            <StackLayout class="hr-light m-10"></StackLayout>

            <StackLayout orientation="vertical">


                <StackLayout class="hr-light m-10"></StackLayout>


                <StackLayout orientation="horizontal">
                    <Label className="readOnlyLabel" text="Hours Left"></Label>
                    <Label class="h2" [text]="aircraftService.getHrsLeft(aircraft)"></Label>
                    <Label className="readOnlyLabel" text="Days"></Label>
                    <Label class="h2" [text]="aircraftService.getDaysLeft(aircraft)"></Label>
                    <StackLayout  orientation="horizontal" *ngFor="let engineHrs of aircraft.engineHrsAtMaint; let num = index;"
                                         class="list-group-item">
                        <Label [text]="'engine #' + (num+1)" className="readOnlyLabel"></Label>
                        <Label class="h2" hint="" [text]="engineLeft[num]"></Label>
			<!--<Label class="h2" hint="" [text]="aircraftService.getEngineLeft(aircraft, 1)"></Label>-->
                    </StackLayout>
                    <StackLayout  orientation="horizontal" *ngFor="let propHrs of aircraft.propHrsAtMaint; let num = index;" class="list-group-item">
                        <Label [text]="'prop #' + (num+1)" className="readOnlyLabel"></Label>
                        <Label class="h2" hint="" [text]="propLeft[num]"></Label>
			<!--<Label class="h2" hint="" [text]="aircraftService.getPropLeft(aircraft, (num+1))"></Label>-->
                     </StackLayout>
                </StackLayout>

                <StackLayout orientation="horizontal">

                    <Label className="readOnlyLabel" text="TTIS: "></Label>
                    <Label class="h2" [text]="aircraftService.getTtis(aircraft)"></Label>
                    <Label className="readOnlyLabel" text="MR Expires hrs: "></Label>
                    <Label  class="h2" [text]="aircraft.hrsAtMaint"></Label>
                    <Label className="readOnlyLabel" text="date: "></Label>
                    <Label  class="h2" [text]="getDateStringFromTuple(aircraft.annualDateTuple)"></Label>
                    <Button width="150" height="50" class="btn btn-primary" text="Change MR Expiry"
                                          [nsRouterLink]="['/mrexpiry', aircraft._id]" *ngIf="can('CAN_CHANGE_MR')"></Button>
                </StackLayout>



                <StackLayout class="hr-light"></StackLayout>

                <StackLayout  orientation="vertical">
                        <Label text="Maintenance Required"></Label>
                        <StackLayout  orientation="horizontal" *ngFor="let maint of aircraft.maintenance; let num=index">
                        <GridLayout columns="*,*,*,*,*,*" rows="*,*,*,*">
                                <Label class="block" [ngClass]="{cleared:maint.cleared, active:!maint.cleared}" col="0" 
                                                [text]="'#' + (num+1) + ' : ' + maint.maintenance"></Label>

                                <Label class="block" [ngClass]="{cleared:maint.cleared, active:!maint.cleared}" col="1" *ngIf="maint.type !== 'date'"
                                                [text]="getHoursLeft(maint.dueHrs) + ' hrs left, '"></Label>

                                <Label class="block" [ngClass]="{cleared:maint.cleared, active:!maint.cleared}" col="1" *ngIf="maint.type !== 'hours'" 
                                                [text]="getDaysLeft(maint.dueDateTuple) + ' days left, '"></Label>

                                <Label class="block" [ngClass]="{cleared:maint.cleared, active:!maint.cleared}" col="2" *ngIf="maint.type !== 'date'"
                                                [text]="'due @' + maint.dueHrs + ' hrs '"></Label>
                                <Label class="block" [ngClass]="{cleared:maint.cleared, active:!maint.cleared}" col="2" *ngIf="maint.type !== 'hours'"
                                                [text]="' due @' + getDateStringFromTuple(maint.dueDateTuple)"></Label>
                                <Button col="3" width="200" height="40" 
                                                [ngClass]="{cleared:maint.cleared, active:!maint.cleared}"
                                                class="btn btn-success block" text="Clear Item"
                                                 (tap)="clearMaintenanceItem(num)" *ngIf="can('CAN_CLEAR_MR_ITEMS')"></Button>
                                <Button col="4" width="200" height="40" class="btn bg-danger block" text="Delete Item" 
                                                (tap)="deleteMaintenanceItem(num)" *ngIf="can('CAN_CHANGE_MR')"></Button>
                        </GridLayout>
                        </StackLayout>
                </StackLayout>
                        <Button width="200" height="50" class="btn btn-primary" text="Add Maintenance Item"
                                                  [nsRouterLink]="['/mritem', aircraft._id]" *ngIf="can('CAN_CHANGE_MR')"></Button>

                <StackLayout class="hr-light"></StackLayout>

                <Label text="Engines & Props " class="label font-weight-bold m-b-5"></Label>
                <StackLayout  orientation="horizontal" *ngFor="let engineHrs of aircraft.engineHrsAtMaint; let num = index;" class="list-group-item">
                        <GridLayout columns="*,*" rows="*,*,*">
                                <Label col="0" [text]="'engine #' + (num+1) + ' O/H'" class="label font-weight-bold m-b-5"></Label>
                                <Label col="1" class="label font-weight-bold m-b-5" [text]="'@ ' + getEngine(num) + ' hrs'"></Label>
                        </GridLayout>
                </StackLayout>
                <StackLayout  orientation="horizontal" *ngFor="let propHrs of aircraft.propHrsAtMaint; let num = index;" class="list-group-item">
                        <GridLayout columns="*,*" rows="*,*,*">
                                <Label col="0" [text]="'prop #' + (num+1) + ' O/H'" class="label font-weight-bold m-b-5"></Label>
                                <Label col="1" class="label font-weight-bold m-b-5" [text]="'@ ' + getProp(num) + ' hrs'"></Label>
                        </GridLayout>
                </StackLayout>
                <StackLayout  orientation="horizontal" class="input-field">
                        <Button width="200" height="50" class="btn btn-primary" text="Set Engine/Prop Time"  [nsRouterLink]="['/engineTime', aircraft._id]" *ngIf="can('CAN_CHANGE_MR')"></Button>
                </StackLayout>


                <StackLayout class="hr-light"></StackLayout>


                <StackLayout  orientation="horizontal" class="input-field">
                        <Button width="200" height="50" class="btn btn-primary" text="Adjust Clock Offset"
                                        [nsRouterLink]="['/clockTime', aircraft._id]" *ngIf="can('CAN_CHANGE_MR')"></Button>
                        <Label [text]="'Maint Clock Offset: ' + aircraft.clockOffset" 
                                        class="label font-weight-bold m-b-5"></Label>
                </StackLayout>
                <StackLayout class="hr-light"></StackLayout>
                <Button width="100" height="100" class="bg-danger" text="Delete Aircraft" (tap)="deleteAircraft(aircraft)" *ngIf="can('CAN_DELETE_AIRCRAFT')"></Button>
            </StackLayout>
        </StackLayout>
    </ScrollView>
</GridLayout>
