.block {
        border-color: gray;
        border-width: 1px;
        vertical-align: center;
}

.item {
        font-size: 25;
        text-align: center;
        padding: 5 0;
}

.readOnlyLabel {
        color: red;
        padding-left: 20;
}

.cleared {
        color: gray;
        text-decoration: line-through;
}

.active {
        color: black;
}

