<RadSideDrawer>
<ActionBar title="MaintRel App" >
        <NavigationButton icon="res://icon" (tap)="toggle()"></NavigationButton>
</ActionBar>
<StackLayout tkDrawerContent class="sideStackLayout">
        <StackLayout class="sideStackLayout">
            <StackLayout class="hr-light m-10"></StackLayout>
            <StackLayout class="sideTitleStackLayout">
                <Label text="Show By" class="h1 sideLabelHeading"></Label>
            </StackLayout>
            <Label text="Aircraft" class="h2 sideLabel" [nsRouterLink]="['/fleet']"></Label>
            <Label text="Days/Hours Left" class="h2 sideLabel" [nsRouterLink]="['/reportByHour']"></Label>
            <StackLayout class="hr-light m-10"></StackLayout>
            <StackLayout class="sideTitleStackLayout">
                <Label text="Actions" class="h1 sideLabelHeading"></Label>
            </StackLayout>
            <Label text="Send Notification" class="h2 sideLabel" (tap)="notify()"></Label>
            <!--<Label text="Add New Aircraft" class="h2 sideLabel" (tap)="addAircraft()"></Label>-->
            <StackLayout class="hr-light m-10"></StackLayout>
        </StackLayout>
</StackLayout>
<GridLayout class="page" tkMainContent>
    <ScrollView>
        <StackLayout class="form" verticalAlignment="top">
                <Label [text]="showingBy()"></Label>
                <GridLayout columns="*,*,*,*">
                        <!--<Label class="h2" col="0" text="#" class="readOnlyLabel"></Label>-->
                        <Label col="0" text="Rego" class="readOnlyLabel h2"></Label>
                        <Label col="1" text="Item" class="readOnlyLabel h2"></Label>
                        <Label col="2" text="Days Left" class="readOnlyLabel h2 sortBy"></Label>
                        <Label col="3" text="Hours Left" class="readOnlyLabel h2"></Label>
                </GridLayout>
                <StackLayout  orientation="vertical" *ngFor="let item of items; let num=index" class="list-group-item">
                        <GridLayout columns="*,*,*,*" rows="*" [nsRouterLink]="['/aircraftDetails', item._id]" >
                                <!--<Label col="0" [text]="num+1" class="block item"></Label>-->
                                <Label col="0" [text]="item.rego" class="block item"></Label>
                                <Label col="1" [text]="item.item" class="block item"></Label>
                                <Label col="2" [text]="getDaysLeft(item)" class="block item"></Label>
                                <Label col="3" [text]="getHoursLeft(item)" class="block item"></Label>
                        </GridLayout>
                </StackLayout>
        </StackLayout>
    </ScrollView>
</GridLayout>
</RadSideDrawer>
