.grey-background {
        background-color: #cccccc;
}

.form {
        background-color: snow
}

.block {
        border-color: gray;
        border-width: 1px;
        vertical-align: center;
}
.readOnlyLabel {
        color: red;
        padding-left: 20;
}

.cleared {
        color: gray;
        text-decoration: line-through;
}

.active {
        color: black;
}
